/** Fundo Principal **/
.main-pane {
    -fx-background-color: #F0F0F0;
}
/** Cabeçalho **/
.header-pane {
    -fx-background-color: #E0E0E0;
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10 20 10 20;
}

/** Abas **/
.tab-custom {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}