/* StackPane */
.table-row-cell:selected {
    -fx-background-color: #3478f6;
    -fx-text-fill: white;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}

.button .text {
    -fx-fill: white;
}

.button:hover .text {
    -fx-fill: white;
}




/* BorderPane */

/* Total de Funcionários */
.total-label {
    -fx-font-size: 20px;
}


/* ESTILIZAÇÃO POSSIVELMENTE POSSA IR PARA OUTRA TABELA */
/* ----- BOTÃO VERDE (CRUD PRINCIPAL) ----- */
.button-green {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 6 14 6 14;
    -fx-font-size: 16px;
}

.button-green:hover {
    -fx-background-color: #4bc56b;
}

/* ----- BOTÃO EDITAR NA TABELA ----- */
.btn-table-edit {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

.btn-table-edit:hover {
    -fx-background-color: #388E3C;
}


/* ----- BOTÃO DELETAR NA TABELA ----- */
.btn-table-delete {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

.btn-table-delete:hover {
    -fx-background-color: #D32F2F;
}

/* ----- CAMPO DE PESQUISA ----- */
.search-field {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #4A90E2;
    -fx-border-width: 1.5px;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 14px;
}

/* ----- BOTÃO DE PESQUISA ----- */
.search-button {
    -fx-background-color: #3478f6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 6 14 6 14;
    -fx-font-size: 16px;
}

.search-button:hover {
    -fx-background-color: #5599ff;
}

.search-button {
    -fx-cursor: hand;
}

.button-green {
    -fx-cursor: hand;
}

/*FIM BORDPANE*/

/* TableColum */
.column-center {
    -fx-alignment: CENTER;
}

.column-left {
    -fx-alignment: CENTER_LEFT;
}

.column-right {
    -fx-alignment: CENTER_RIGHT;
}
