# Eclipse-specific files
.classpath
.project
.settings/

# VSCode-specific files (já que você usa também)
.vscode/

# Maven output directory
/target/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de build temporários
*.class
**/.env

# Arquivos de backup
*~
*.bak

# Configurações específicas de usuários
*.iml
.idea/
src/main/resources/.env


# Project exclude paths
/mercadinho-providence/target/